<div class="messages js-topic" id="js-topic-id-<%= topic.id %>">
  <div class="item">
    <div class="view">
      <%= link_to topic_path(topic) do %>
        <img src="/chat/images/tmp/a1.jpg" height="45" width="45" alt="">
      <% end %>
    </div>

    <div class="description js-topic-body">
      <%= render partial: 'topics/topic_body', object: topic, as: :topic %>
    </div>

    <% if defined?(topic_counter) && topic.messages.size > 5 %>
      <div style="text-align:center;">
        <a href="#" class="js-expand-messages">Показать все комментарии</a>
        <a href="#" class="js-collapse-messages">Свернуть комментарии</a>
      </div>
    <% end %>

    <!-- reply -->
    <div class="reply js-messages<%= ' js-collapsable' if defined?(topic_counter) && topic.messages.size > 5 %>">
      <%= render partial: 'messages/message', collection: topic.messages, locals: { total_size: topic.messages.size } %>
    </div>
  </div>

  <!-- add comment -->
  <div class="addcomment">
    <%= render partial: 'messages/form', object: topic.messages.build, as: :message %>
  </div>
</div>