<div class="row m-t">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <section class="panel text-center">
      <div class="panel-body">
        <%= link_to topic_path(topic), class: 'btn btn-circle btn-twitter btn-lg' do %>
          <i class="icon-user"></i>
        <% end %>
        <div class="h4">
          <%= topic.text %>
          <% if can? :edit, topic %>
            <%= link_to edit_topic_path(topic), class: 'show-modal-window', data: { target: '#modal-window', toggle: 'modal' } do %>
              <i class="icon-cog text-primary"></i>
            <% end %>
          <% end %>
        </div>
        <div class="line m-l m-r"></div>
        <h4><strong><%= topic.user.siebel.first_name %> <%= topic.user.siebel.last_name %></strong></h4>
        <small>
          <%= raw topic.tag_list.map { |t| link_to t, topics_path(tag: t) }.join(', ') %>
        </small>
      </div>
    </section>
    <!-- .comment-list -->
    <section class="comment-list block">
      <div class='messages'>
        <%= render partial: 'messages/message', collection: topic.messages.order('created_at ASC') %>
      </div>
      <%= render partial: 'messages/form', object: topic.messages.build, as: :message %>
    </section>
    <!-- / .comment-list -->
  </div>
  <div class="col-lg-2"></div>
</div>