<h4>Создать топик-предложение</h4>

<div id="widget_<%= @user.id %>"></div>
<script type="text/javascript">
  var widgetOptions = {
    id: <%= @user.id %>,
    domain: '<%= Rails.configuration.widget_domain %>',
    path: '/purchases/new',
    params: {
      owner_id: <%= current_user.id %>,
      api_token: '<%= current_user.api_token %>',
      client_id: <%= @user.id %>,
      client_integration_id: '<%= @user.integration_id %>'
    }
  };
  createWidget('widget_<%= @user.id %>', widgetOptions);
</script>