<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Создать топик-предложение</h4>
    </div>
    <div class="modal-body">

<div id="widget_<%= @user.id %>"></div>
<script type="text/javascript">
  var widgetOptions = {
    id: <%= @user.id %>,
    domain: 'delo-widgets-dev.sredda.ru:8082',
    path: '/purchases/new',
    params: {
      owner_id: <%= current_user.id %>,
      api_token: '<%= current_user.api_token %>',
      client_id: <%= @user.id %>,
      client_integration_id: '<%= @user.integration_id %>'
    }
  };
  createWidget('widget_<%= @user.id %>', widgetOptions);
</script>

    </div>
  </div>
</div>