<div class="header-updates" id="js-notifications" data-count="<%= notifications.total_count %>">
  <div class="count js-count"><%= notifications.total_count %></div>

  <div class="customscroll">
    <div class="wrapper wrapper_1">
        <div class="scroller">
            <div class="container">
                <div class="scroll-title">
                  У вас <%= notifications.total_count %> <%= Russian.p(notifications.total_count, 'уведомление', 'уведомления', 'уведомлений') %>
                </div>

                <%= render partial: 'notifications/notification', collection: notifications %>

                <div class="load">
                    <div class="load__value"></div>
                </div>
            </div>
        </div>
        <div class="scroller__bar-wrapper">
            <div class="scroller__bar"></div>
        </div>
    </div>
  </div>
</div>