<h3 class="popup-title">Ваш профиль</h3>

<%= simple_form_for @user, remote: true do |f| %>
  <table>
    <col width="35%">
    <col width="65%">
    <tr>
      <td class="label"><label for="">Телефон</label></td>
      <td class="value"><%= f.input_field :phone, class: 'popup-textbox', disabled: true %></td>
    </tr>
    <tr>
      <td class="label"><label for="">Организация</label></td>
      <td class="value"><input type="text" id="" disabled="true" value="<%=j @user.siebel_company.try(:full_name) %>" class="popup-textbox" placeholder=""></td>
    </tr>
    <tr>
      <td class="label"><label for="">ИНН</label></td>
      <td class="value"><input type="text" id="" disabled="true" value="<%=j @user.siebel_company.try(:inn) %>" class="popup-textbox" placeholder=""></td>
    </tr>
    <tr>
      <td class="label"><label for="">ОГРН</label></td>
      <td class="value"><input type="text" id="" disabled="true" value="<%=j @user.siebel_company.try(:ogrn) %>" class="popup-textbox" placeholder=""></td>
    </tr>
    <tr>
      <td class="label"><label for="">Фамилия</label></td>
      <td class="value"><%= f.input_field :last_name, class: 'popup-textbox', disabled: @user.approved? %></td>
    </tr>
    <tr>
      <td class="label"><label for="">Имя</label></td>
      <td class="value"><%= f.input_field :first_name, class: 'popup-textbox', disabled: @user.approved? %></td>
    </tr>
    <tr>
      <td class="label"><label for="">Отчество</label></td>
      <td class="value"><%= f.input_field :middle_name, class: 'popup-textbox', disabled: @user.approved? %></td>
    </tr>
    <tr>
      <td class="label"><label for="">Налоговый режим</label></td>
      <td class="value"><%= f.input_field :tax_treatment, class: 'popup-textbox', disabled: true %></td>
    </tr>
    <tr>
      <td class="label">&nbsp;</td>
      <td class="value submit">
        <input type="button" id="" value="Отменить" class="default-button cancel js-close-modal">
        <% if can? :update, @user %>
          <%= f.button :submit, 'Сохранить', class: 'default-button-orange sa' %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>