<div class="main-wrapper wrap-content"><!-- steps !-->
  <%= image_tag 'preloader.gif', id: 'preloader', style: 'display: none; position: absolute;' %>

  <%= render partial: 'pages/promo_1' %>
  <%= render partial: 'pages/promo_2' %>
  <%= render partial: 'pages/contacts' %>

  <div class='registration_forms'>
    <%= render partial: 'registrations/new_registration_form' %>
    <%= render partial: 'registrations/confirmation' %>
    <%= render partial: 'registrations/not_found' %>
    <%= render partial: 'registrations/verify_phone' %>
    <%= render partial: 'registrations/deferred' %>
    <%= render partial: 'registrations/complete' %>
    <%= render partial: 'registrations/sms_verification_code_sent' %>
  </div>
</div>

<div class="signin" id="pre_new_registration_form">
  <div class="wrapper">
    <p>Если Вы - ИП, зарегестрируйтесь, заполнив поля ниже.<br>
      Либо воспользуйтесь нашим сервисом <a href="">онлайн-регистрации ИП</a>
    </p>
    <%= simple_form_for Registration.new, remote: true, authenticity_token: true do |f| %>
      <div class="buttons">
        <%= f.input_field :phone, as: :string, pattern: false, size: nil, placeholder: 'Телефон', class: 'pre_registration_input' %>
        <%= f.input_field :ogrn, as: :string, pattern: false, size: nil, placeholder: 'ОГРН', class: 'pre_registration_input' %>
        <span id='ogrn-tooltip'>?</span>
        <div class="notice">
          <h3>Основной государственный регистрационный номер (ОГРН)</h3>
          <p>присваивается при внесении записи о государственной регистрации юридического лица в единый государственный реестр юридических лиц (ЕГРЮЛ) и выдается в налоговом органе по месту регистрации юридического лица. ОГРН имеют только юридические лица.</p>
        </div>
        <%= f.button :submit, 'Регистрация', class: "register" %>
      </div>
    <% end %>
  </div>
</div>