<div class="main-wrapper wrap-content"><!-- steps !-->
  <%= image_tag 'preloader.gif', id: 'preloader', style: 'display: none; position: absolute;' %>

  <%= render partial: 'pages/promo_1' %>
  <%= render partial: 'pages/promo_2' %>
  <%= render partial: 'pages/contacts' %>

  <% if @registration_enabled %>
    <div class='registration_forms'>
      <%= render partial: 'registrations/new_registration_form' %>
      <%= render partial: 'registrations/confirmation' %>
      <%= render partial: 'registrations/not_found' %>
      <%= render partial: 'registrations/deferred' %>
      <%= render partial: 'registrations/password_sent' %>
      <%= render partial: 'registrations/select_payment' %>
      <%= render partial: 'registrations/process_payment' %>
    </div>
  <% end %>
</div>


<div class="signin" id="pre_new_registration_form">
  <div class="wrapper">
    <% if @registration_enabled %>
      <p>Если Вы - ИП, зарегестрируйтесь, заполнив поля ниже.<br>
        Либо воспользуйтесь нашим сервисом <a href="http://fns01.dasreda.ru">онлайн-регистрации ИП</a>
      </p>
      <%= simple_form_for Registration.new, remote: true, authenticity_token: true do |f| %>
        <div class="buttons">
          <%= f.input_field :phone, as: :string, pattern: false, size: nil, placeholder: 'Телефон', class: 'pre_registration_input' %>
          <%= f.input_field :ogrn, as: :string, pattern: false, size: nil, placeholder: 'ОГРН', id: 'pre_registration_ogrn', class: 'pre_registration_input' %>
          <span id='ogrn-tooltip'>?</span>
          <div class="notice">
            <h3>Основной государственный регистрационный номер (ОГРН)</h3>
            <p>присваивается при внесении записи о государственной регистрации юридического лица в единый государственный реестр юридических лиц (ЕГРЮЛ) и выдается в налоговом органе по месту регистрации юридического лица. ОГРН имеют только юридические лица.</p>
          </div>
          <%= f.button :submit, 'Регистрация', class: "register" %>
        </div>
      <% end %>
    <% else %>
      Регистрация временно отключена, пожалуйста, обращайтесь с вопросами по адресу <a href="mailto:support@dasreda.ru">support@dasreda.ru</a>
    <% end %>
  </div>
</div>

