<section class="header-10-sub v-center bg-midnight-blue">
  <div class="background">&nbsp;</div>
  <div>
    <div class="container">
      <div class="hero-unit">
        <h1>Суперклассный сервис для предпринимателей</h1>
        <p>
          Упрощаем бухгалтерскую отченость, наводим порядок<br/>в юридических вопросах и документах.
          <br/>Сделай дело!
        </p>
      </div>
    </div>
  </div>
  <a class="control-btn fui-arrow-down" href="#"></a>
</section>

<% unless current_user %>
<section class="h-7-section-5">
  <div>
    <div class="background">&nbsp;</div>
    <div class="container">
      <%= image_tag 'preloader.gif', id: 'preloader', style: 'display: none; position: absolute;' %>
      <%= render partial: 'registrations/new_registration_form' %>
      <%= render partial: 'registrations/confirmation' %>
      <%= render partial: 'registrations/not_found' %>
      <%= render partial: 'registrations/verify_phone' %>
      <%= render partial: 'registrations/deferred' %>
      <%= render partial: 'registrations/complete' %>
      <%= render partial: 'registrations/sms_verification_code_sent' %>
    </div>
  </div>
</section>
<% end %>

<!-- crew-4 -->
<section class="crew-4" style="padding-bottom:0;">
  <div class="container">
    <h3>Отзывы наших клиентов всегда положительные</h3>
    <div class="members">
      <div class="member-wrapper" style="vertical-align:top;">
        <div class="member">
          <div class="photo-wrapper">
            <div class="photo">
              <img src="../../common-files/img/crew/vladimir-k.png" alt="">
            </div>
          </div>
          <div class="info">
            <div class="name">Владимир Кудинов</div>
            Быстро, легко, удобно! Программа практически всё делает сама, не надо долго и нудно разыскивать порядок расчетов и заполнений форм. Достаточно только проверить правильность. И работать можно в любое удобное время на любом компьютере.
            <div class="contacts">
              <a href="#">ООО «Рога и копыта»</a>
            </div>
          </div>
        </div>
      </div>
      <div class="member-wrapper" style="vertical-align:top;">
        <div class="member">
          <div class="photo-wrapper">
            <div class="photo">
              <img src="../../common-files/img/crew/sergey-s.png" alt="">
            </div>
          </div>
          <div class="info">
            <div class="name">Сергей Есенин</div>
            Я — директор, бухгалтер, юрист... Три в одном. Работаем вдвоем с мужем. Предоставляем юридические услуги в сфере гражданского права. На поиски бухгалтерских программ потратила уйму времени. Так как бухгалтерия для меня — не основная работа, хотелось простого оптимального решения, не отнимающего много времени от основных задач. Я нашла его в лице этого сервиса.
            <div class="contacts">
              <a href="#">ИП Пупкин П.П.</a>
            </div>
          </div>
        </div>
      </div>
      <div class="member-wrapper" style="vertical-align:top;">
        <div class="member">
          <div class="photo-wrapper">
            <div class="photo">
              <img src="../../common-files/img/crew/adrian-v.png" alt="">
            </div>
          </div>
          <div class="info">
            <div class="name">Андрей Лукин</div>
            Ребята, вы молодцы! Такая доступная программа. Вчера после вебинара формировала пенсионный в Профи-версии. Одно наслаждение! После программ  пенсионного фонда Бухгалтерия.Контур — просто СКАЗКА! Не устану повторять спасибо вашим разработчикам! Успехов вам.
            <div class="contacts">
              <a href="#">ЗАО «Сбербанк»</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>

<!-- content-19 -->
<section class="content-19">
  <div class="container">
    <div class="row">
      <div class="span7">
        <div class="quote">
          <div class="quote-text">
            Это суперклассный великолепный божественный веб-сервис, сделанный на коленке за две недели.
          </div>
          <div class="quote-author">
            <div class="quote-author-photo"></div>
            <div class="quote-author-name">
              КОНСТАНТИН ОСИНЦЕВ, МУЧЕНИК
            </div>
          </div>
        </div>
      </div>
      <div class="span3 offset1">
        <div class="quote">
          <div class="quote-author">
            <div class="quote-author-photo"></div>
            <div class="quote-author-name">Валерий К.</div>
          </div>
          <div class="quote-date">ООО «Дельфин»</div>
          <div class="quote-text">Сразу видно, что сервис придуман за 3 часа в кафе. Но работает неплохо. Рекомендую!</div>
        </div>
        <div class="quote">
          <div class="quote-author">
            <div class="quote-author-photo"></div>
            <div class="quote-author-name">Андрей З.</div>
          </div>
          <div class="quote-date">ООО «Английский завтрак»</div>
          <div class="quote-text">Не ожидал, что из этого что-то получится. Мне нравится!</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- content-16 -->
<section class="content-16 v-center" style="padding-bottom:0;">
  <div>
    <div class="container">
      <h3><img src="../../common-files/icons/Money@2x.png" width="100" height="100" alt=""> Тарифные планы на бухгалтерское обслуживание </h3>
      <p class="lead">Выберите подходящий</p>
    </div>
  </div>
</section>

<!-- price-1 -->
<section class="price-1" style="padding-top:0; padding-bottom: 0;">
  <div class="container">
    <div class="row plans">
      <div class="span3 plan">
        <div class="title">Нулевой</div>
        <div class="price">УСН, ЕНВД 2 500 руб./год</div>
        <div class="price">ОСН 2 500 руб./кв.</div>
        <div class="description">
          <b>0</b> операций<br/> <b>0</b> сотрудников<br/> <b>0</b> первичных документов<br/> <b>Без</b> расчета з/п и доп. операций
        </div>
      </div>
      <div class="span3 plan">
        <div class="title">Начинающий</div>
        <div class="price">УСН, ЕНВД 1 500 руб./мес.</div>
        <div class="price">ОСН 2 500 руб./мес.</div>
        <div class="description">
          <b>5</b> операций<br/> <b>0</b> сотрудников<br/> <b>Первичка</b> - самостоятельно<br/><b>Доп. сотрудник</b> - 500 руб.<br/> <b>Доп. операция</b> - 100 руб.
        </div>
        <div class="ribbon">NEW</div>
      </div>
      <div class="span3 plan">
        <div class="title">Уверенный</div>
        <div class="price">УСН, ЕНВД 6 000 руб./мес.</div>
        <div class="price">ОСН 9 000 руб./мес.</div>
        <div class="description">
          <b>5</b> операций<br/> <b>0</b> сотрудников<br/> <b>Первичка</b> - самостоятельно<br/><b>Доп. сотрудник</b> - 500 руб.<br/> <b>Доп. операция</b> - 100 руб.
        </div>
      </div>
      <div class="span3 plan">
        <div class="title">Профессионал</div>
        <div class="price">УСН, ЕНВД 12 000 руб./мес.</div>
        <div class="price">ОСН 15 000 руб./мес.</div>
        <div class="description">
         <b>5</b> операций<br/> <b>0</b> сотрудников<br/> <b>Первичка</b> - самостоятельно<br/><b>Доп. сотрудник</b> - 500 руб.<br/> <b>Доп. операция</b> - 100 руб.
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>
 <!-- content-16 -->
<section class="content-16 v-center" style="padding-bottom:0;">
  <div>
    <div class="container">
      <h3>Тарифные планы на юридическое обслуживание </h3>
      <p class="lead">Выберите подходящий</p>
    </div>
  </div>
</section>

<!-- price-1 -->
<section class="price-1" style="padding-top:0;">
  <div class="container">
    <div class="row plans">
      <div class="span3 plan">
        <div class="title">Нулевой</div>
        <div class="price">УСН, ЕНВД 2 500 руб./год</div>
        <div class="price">ОСН 2 500 руб./кв.</div>
        <div class="description">
          <b>0</b> операций<br/> <b>0</b> сотрудников<br/> <b>0</b> первичных документов<br/> <b>Без</b> расчета з/п и доп. операций
        </div>
      </div>
      <div class="span3 plan">
        <div class="title">Начинающий</div>
        <div class="price">УСН, ЕНВД 1 500 руб./мес.</div>
        <div class="price">ОСН 2 500 руб./мес.</div>
        <div class="description">
          <b>5</b> операций<br/> <b>0</b> сотрудников<br/> <b>Первичка</b> - самостоятельно<br/><b>Доп. сотрудник</b> - 500 руб.<br/> <b>Доп. операция</b> - 100 руб.
        </div>
        <div class="ribbon">NEW</div>
      </div>
      <div class="span3 plan">
        <div class="title">Уверенный</div>
        <div class="price">УСН, ЕНВД 6 000 руб./мес.</div>
        <div class="price">ОСН 9 000 руб./мес.</div>
        <div class="description">
          <b>5</b> операций<br/> <b>0</b> сотрудников<br/> <b>Первичка</b> - самостоятельно<br/><b>Доп. сотрудник</b> - 500 руб.<br/> <b>Доп. операция</b> - 100 руб.
        </div>
      </div>
      <div class="span3 plan">
        <div class="title">Профессионал</div>
        <div class="price">УСН, ЕНВД 12 000 руб./мес.</div>
        <div class="price">ОСН 15 000 руб./мес.</div>
        <div class="description">
         <b>5</b> операций<br/> <b>0</b> сотрудников<br/> <b>Первичка</b> - самостоятельно<br/><b>Доп. сотрудник</b> - 500 руб.<br/> <b>Доп. операция</b> - 100 руб.
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>