<div class="description">
  <h6><%= current_user.siebel.full_name %></h6>

  <%= simple_form_for [new_message], remote: true do |f| %>
    <div class="wrapper">
      <%= f.input_field :text, as: :text, placeholder: 'Ваш комментарий', class: 'js-submit-by-hotkey', autocomplete: 'off' %>
      <%= f.button :submit, 'Отправить', class: 'default-button-orange send' %>
      <%= f.input :user_id, as: :hidden  %>
      <%= f.input :attachment_ids, as: :hidden %>
    </div>
  <% end %>
  <%= form_for Attachment.new, html: { class: 'js-fileupload', multipart: true } do |f| %>
    <div class="js-dropfile">
      <%= f.file_field :attachment %>
    </div>
  <% end %>
  <div class="js-attachments"></div>
</div>
