<div class="row m-t">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <section class="panel text-center">
      <div class="panel-body">
        <a class="btn btn-circle btn-twitter btn-lg"><i class="icon-user"></i></a>
        <div class="h4"><%= topic.text %></div>
        <div class="line m-l m-r"></div>
        <h4><strong><%= topic.user.siebel.first_name %> <%= topic.user.siebel.last_name %></strong></h4>
        <small>
          <%= raw topic.tag_list.map { |t| link_to t, concierge_topics_path(tag: t) }.join(', ') %>
        </small>
        <div class="comment-action m-t-small">
          <%= link_to edit_concierge_topic_path(topic), class: 'btn btn-white btn-xs' do %>
            <i class="icon-pencil text-muted"></i>Редактировать
          <% end %>
        </div>
      </div>
    </section>
    <!-- .comment-list -->
    <section class="comment-list block">
      <%= render topic.messages %>
      <%= render partial: 'concierge/messages/form', object: topic.messages.build, as: :message %>
    </section>
    <!-- / .comment-list -->
  </div>
  <div class="col-lg-2"></div>
</div>