<%= link_to concierge_topic_path(topic), class: 'btn btn-circle btn-twitter btn-lg' do %>
  <i class="icon-user"></i>
<% end %>
<div class="h4">
  <%= paragraphs topic.text %>
  <% if can? :edit, topic %>
    <%= link_to edit_concierge_topic_path(topic), class: 'show-modal-window', data: { target: '#modal-window', toggle: 'modal' } do %>
      <i class="icon-cog text-primary"></i>
    <% end %>
  <% end %>
</div>
<div class="line m-l m-r"></div>
<h4><strong><%= topic.author.siebel.full_name %></strong></h4>
<div style="text-align:center;"><%=l topic.created_at, format: :long %></div>
<h5>
  <% unless topic.created_at == topic.updated_at %>
    <label class="label bg-info m-l-mini">Отредактировано <%=l topic.updated_at, format: :long %></label>
  <% end %>
</h5>
<small>
  <%= raw topic.tag_list.map { |t| link_to t, concierge_topics_path(tag: t) }.join(', ') %>
</small>