<header class="page-header">		
  <div class="globalwidth">
    <a class="logo" href="/"></a>
    <nav class="tm">
      <ul>
      <% if @current_user.nil? -%>
        <li><%= link_to "Как это работает", '#', class: "js-gotoHowItWorks"       %></li>
        <li><%= link_to "Тариф",            '#', class: "js-gotoTariffs"          %></li>
        <li><%= link_to "Контакты",         '#', class: "js-gotoFeedback"         %></li>
        <li><%= link_to "Регистрация",      '#', class: "js-gotoLoginForm"        %></li>
        <li><%= link_to "Войти",            '#', class: "js-gotoRegistrationForm" %></li>
      <% else -%>
        <li><%= link_to "Выйти", session_path('current_user'), method: :delete    %></li>
      <% end -%>
      </ul>
    </nav>
  </div>
</header>
