<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Делай дело</title>

  <%= stylesheet_link_tag "application/application" %>
  <!-- Bootstrap -->
  <link href="/legko-bs/css/bootstrap.css" rel="stylesheet">
  <link href="/legko-bs/css/style.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <a href="/"><img src="/legko-bs/images/header-logo.png" height="58" width="75" alt="" class="header-logo pull-left"></a>

      <ul class="nav nav-pills pull-right">
        <li><a href="/">Контакты</a></li>
        <li class="active">
          <% if current_user %>
            Вы вошли как <%= current_user.login %>
            <%= link_to 'Выйти', session_path('current_user'), method: :delete, class: 'btn btn-info' %>
          <% else %>
            <a id='sign_in' class="btn btn-info" href="<%= new_session_path %>">Войти</a>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="jumbotron j-signin">
      <%= yield %>
    </div>

    <div class="footer">
      <p class="footer-copy pull-left"> © 2014 ЗАО «Деловая среда»</p>
      <p class="footer-contacts pull-right">
        +7-800-100-90-80<br>
        <a href="mailto:support@dasreda.ru">support@dasreda.ru</a>
      </p>
    </div>
  </div>

  <%= javascript_include_tag "application/application" %>
  <script src="/legko-bs/js/bootstrap.min.js"></script>
</body>
</html>