<!DOCTYPE html>
<html>
<head>
  <title>DsCabinet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Вы вошли как <%= current_user.login %>
  <%= link_to 'Выйти', session_path('current_user'), method: :delete %>
<% else %>
  <%= render partial: 'sessions/form' %>
<% end %>

<%= yield %>

</body>
</html>
