<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Делай дело</title>

  <!-- Bootstrap -->
  <link href="/legko-bs/css/bootstrap.css" rel="stylesheet">
  <link href="/legko-bs/css/style.css" rel="stylesheet">
  <%= stylesheet_link_tag "application/application" %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51418540-1', 'legko.li');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="container">
    <div class="header">
      <a href="/"><img src="/legko-bs/images/header-logo.png" height="58" width="75" alt="" class="header-logo pull-left"></a>

      <ul class="nav nav-pills pull-right">
        <li><a href="#" id="contacts">Контакты</a></li>
        <li class="active">
          <% if current_user %>
            Вы вошли как <%= current_user.login %>
            <%= link_to 'Выйти', session_path('current_user'), method: :delete, class: 'btn btn-info' %>
          <% else %>
            <a id='sign_in' class="btn btn-info" href="<%= new_session_path %>">Войти</a>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="jumbotron j-signin">
      <%= yield %>
    </div>

    <div class="footer">
      <p class="footer-copy pull-left"> © 2014 ЗАО «<a href="http://www.dasreda.ru">Деловая среда</a>»</p>
      <p class="footer-contacts pull-right">
        +7-800-100-90-80<br>
        <a href="mailto:support@dasreda.ru">support@dasreda.ru</a>
      </p>
    </div>
  </div>

  <%= javascript_include_tag "application/application" %>
  <script src="/legko-bs/js/bootstrap.min.js"></script>
</body>
</html>