<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Делай дело</title>
    <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/font.css" cache="false">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lt IE 9]>
    <script src="/js/ie/respond.min.js" cache="false"></script>
    <script src="/js/ie/html5.js" cache="false"></script>
    <![endif]-->
    <%= javascript_include_tag "chat/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- header -->
    <header id="header" class="navbar">
      <ul class="nav navbar-nav navbar-avatar pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">            
          <span class="hidden-xs-only"><%= current_user.siebel.full_name %></span>
          <span class="thumb-small avatar inline"><img src="images/avatar.jpg" alt="" class="img-circle"></span>
          <b class="caret hidden-xs-only"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="badge bg-danger pull-right">3</span>Уведомления</a></li>
            <li class="divider"></li>
            <li><%= link_to 'Выйти', session_path('current_user'), method: :delete %></li>
          </ul>
        </li>
      </ul>
      <%= link_to 'Делай дело', root_path, class: 'navbar-brand' %>
      <button type="button" class="btn btn-link pull-left nav-toggle visible-xs" data-toggle="class:slide-nav slide-nav-left" data-target="body">
      <i class="icon-reorder icon-xlarge text-default"></i>
      </button>
      <ul class="nav navbar-nav hidden-xs">
        <li>
          <div class="m-t m-b-small" id="panel-notifications">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment-alt icon-xlarge text-default"></i><b class="badge badge-notes bg-danger count-n">2</b></a>
            <section class="dropdown-menu m-l-small m-t-mini">
              <section class="panel panel-large arrow arrow-top">
                <header class="panel-heading bg-white"><span class="h5"><strong>У вас <span class="count-n">5</span> уведомлений</strong></span></header>
                <div class="list-group">
                  <a href="#" class="media list-group-item">
                  <span class="media-body block m-b-none">
                  first v.1 (Bootstrap 2.3 based) released<br>
                  <small class="text-muted">19 June 13</small>
                  </span>
                  </a>
                </div>
                <footer class="panel-footer text-small">
                  <a href="#" class="pull-right"><i class="icon-cog"></i></a>
                  <a href="#">Полный список уведомлений</a>
                </footer>
              </section>
            </section>
          </div>
        </li>
        <% if current_user.concierge? %>
          <%= render partial: 'concierge_navigation' %>
        <% end %>
        <li>
          <div class="m-t-small">
            <% unless current_user.concierge? %>
              <%= render partial: 'user_navigation' %>
            <% end %>
          </div>
        </li>
      </ul>
      <!--
      <form class="navbar-form pull-left shift" action="" data-toggle="shift:appendTo" data-target=".nav-primary">
        <i class="icon-search text-muted"></i>
        <input type="text" class="input-sm form-control" placeholder="Поиск">
      </form>
      !-->
    </header>
    <!-- / header -->
    <section id="content">
      <section class="main padder">
        <%= yield %>
      </section>
    </section>
    <!-- footer -->
    <footer id="footer">
      <div class="text-center padder clearfix">
        <p>
          <small>&copy; Деловая среда 2014, Веб-сервис для предпринимателей, которые делают дело</small><br><br>
          <a href="#" class="btn btn-xs btn-circle btn-twitter"><i class="icon-twitter"></i></a>
          <a href="#" class="btn btn-xs btn-circle btn-facebook"><i class="icon-facebook"></i></a>
          <a href="#" class="btn btn-xs btn-circle btn-gplus"><i class="icon-google-plus"></i></a>
        </p>
      </div>
    </footer>
    <!-- / footer -->
    <!-- Bootstrap -->
    <script src="/js/bootstrap.js"></script>
  </body>
</html>